.category__link:hover {
  color: #f8b179;
  transition: all 0.4s;
}

.category__link:after {
  position: absolute;
  content: "";
  background-color: #f8b179;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.4s;
}

.category__link:hover::after {
  scale: 1;
}
