@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  z-index: 0;
  top: 0; /* Align header to the top of the viewport */
  left: 0;
  right: 0;
  z-index: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #d6d6d6;

}

.logo {
  padding-top: 10px;
}

.logo img {
  width: 200px; /* Adjust the width of the logo as needed */
}

.dropdown {
  margin-left: auto;
}

.username {
  font-weight: bold;
  color: black;
  margin-left: auto;
}

.username-container {
  margin-left: auto;
}
