/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #f8f9fa; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
}

.shop-img {
  width: 50px; 
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.default-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.store-name {
  font-size: 20px;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 14px;
}

.dropdown {
  margin-left: auto;
}