.ordereditem.content {
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Ordered-items {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.CartContainer {
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 140px;
  margin-bottom: 60px;
  justify-content: center;
  height: 150%;
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: -1px -1px 20px 5px #1687d933;
}

.Cart-Header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Heading {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #2f3841;
  margin-bottom: 10px;
}

.Cart-Items {
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart-image-box {
  flex-shrink: 0;
  width: 120px; /* Fixed width for the image */
  height: 120px; /* Fixed height for the image */
  margin-right: 20px; /* Adjust as needed */
  overflow: hidden; /* Ensure the image does not overflow the box */
  display: flex; /* Center the image within the box */
  align-items: center;
  justify-content: center;
}

.Cart-about {
  height: 70%;
  width: 75%;
  text-align: start;
}

.Cart-title {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #202020;
  text-align: start;
  margin-bottom: 5px;
}

.Cart-subtitle {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-align: start;
  font-weight: 600;
  color: #909090;
}

.Cart-prices {
  height: 70%;
  text-align: right;
}
.Cart-amount {
  padding-top: 20px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #424669;
}

.pad {
  margin-top: 5px;
}

hr {
  width: 66%;
  float: right;
  margin-right: 5%;
}
.Cart-checkout {
  justify-content: flex-end;
  margin-right: 5%;
  display: grid;
}
.Cart-total {
  width: 100%;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3px;
  margin-bottom: 50px;
}
.Cart-Subtotal {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #424669;
}
.Cart-items {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #909090;
  line-height: 10px;
}
.Cart-total-amount {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #424669;
  margin-right: 52px;
}
.Cart-button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(to bottom right, #f8b179, #f8b179);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  color: #202020;
}

.align-center {
  text-align: center;
}

.h1 {
  bottom: -20px;
}

.ordereditem.content > * {
  margin-top: 20px;
}

.Price-Description {
  margin-right: 20px;
}

.DeliveryStatus {
  font-weight: 900;
  color: #2f3841;
  text-align: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  margin-right: 20px;
  font-size: 30px;
}

.Progress-Bar {
  display: flex;
  justify-content: center;
}

.Delivery {
  margin-top: 50px;
}

.Custom-Container .progress-bar-button {
  background-color: #ff7600; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block element */
  font-size: 16px; /* Increase font size */
  margin: auto; /* Margins for spacing */
  margin-top: 30px;
  width: 150px;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}
