/* Addproduct.css */

.AddProduct {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 50px; /* Add padding to the top to create space for the header */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Adjust the top margin as needed */
    padding-left: 10px;
    padding-bottom: 10px;
  }

.product-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.product-content {
    flex: 1;
    justify-content: start;
    padding-left: 60px;
}

.productpage-title{
    padding-left: 80px;
    padding-top: 10px;
    text-align: left;
}


.product-main-content {
    padding-bottom: 50px;
    padding-left: 180px;
    background-color: rgb(245, 250, 254);
    min-height: 100%;
}


footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; /* Adjust padding as needed */
    background-color: #f0f0f0;
    text-align: center;
}


