/* SideNav.css */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.logo img {
  width: 180px; /* Adjust the width of the logo as needed */
  margin-bottom: 20px; /* Add margin below the logo */
}

/* Main container */
.sidenav {
  height: 100%;
  width: 225px; /* Adjust the width as needed */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff; /* Adjust background color */
  overflow-x: hidden;
  padding: 10px; /* Adjust padding */
  font-family: "Raleway", sans-serif;
  border-right: 1px solid #f0f0f0;
}

.divider{
  height: 1px;
  display: flex;
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 8px;
}

.category {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Style for the links */
.sidenav a {
  padding: 8px 12px; /* Adjust padding */
  text-decoration: none;
  font-size: 16px; /* Adjust font size */
  font-weight: 500;
  color: #171616; /* Adjust text color */
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  color: #fc521a; /* Adjust hover color */
  transition-delay: 0.3s; /* Adjust transition delay */
}

/* Active link style */
.sidenav a.active {
  color: #ffffff; /* Adjust active link color */
  background-color: #4caf50; /* Adjust active link background color */
}
